<body>
    
 <div class="cards-container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.rappler.com%2F612F469A6EA84F6BAE882D2B94A4B421%2Fimg%2FE8CA569A5C10448393BC01A697D1E895%2Fallstarlineup2018.jpg&f=1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Players</h5>
        <p class="card-text">We believe these to be the top ballers in the NBA.</p>
        <a href="/players" class="btn btn-primary">See Players</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.9FyuOORVto_hKZdLpyaZwgHaEo%26pid%3D15.1&f=1"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Teams</h5>
        <p class="card-text">See a complete list of NBA teams.</p>
        <a href="/teams" class="btn btn-primary">See Teams</a>
      </div>
    </div>
  </div>

</body>